/*  ----------------------- BODY --------------------------- */
header, main, nav, footer {
	max-width: 75em;
	margin: 0 auto;
}

 

/*  ----------------------- NAVIGATION --------------------------- */
nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    ul li {width: auto;}
    ul li:last-child{border-right: 1px solid rgba(0,0,0,0.3);}
    ul li a {
        padding: .5rem 1rem;
    }
} // end nav



/*  ----------------------- MAIN --------------------------- */
main {

	
	
	
	
	
	
	
	
	
	
} // end main