/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  ----------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}


/*  ----------------------- HEADER --------------------------- */
div#headerWrapper {background-color: $lightGrey;}
header {
    color: $primaryColor;
    padding: 1em $gutter;
    position: relative;
    form {
		float:right;
    	input {
			width: 8em;
			border-radius: 15px;
			margin-right: 2%;
			padding: .4rem .6rem;
			border: none;    
			font-size: 1em;
			transition: width .5s;
    	} // end input
		input:focus {width:12rem;}
	} //end form
    
    h1 {
        font-size: 2rem;
        font-weight: $normalWeight;
		position: absolute;
		bottom: 1em;
		left: 95px;
		padding-left: 2%;
		padding-left: 2vw;
    } // end of h1
    
	

    
} // end of header



/*  ----------------------- NAVIGATION --------------------------- */
div#navWrapper {background-color: $fontColor; border-bottom: 1px solid rgba(0,0,0,0.3);}
nav {
        
    ul li {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0,0,0,0.3);
    } // end of li
    
    ul li:last-child {border-right: none;}
    
    ul li a {
        display: block;
        text-align: center;
        font-weight: $normalWeight;
		font-size:.9em;
        padding: .9rem 0;
        color: $lightGrey;
        text-decoration: none;
    } // end of anchors
    
	ul li a:hover {background-color: $primaryColor;}
    
    ul li.active a {
        background-color: darken($secondaryColor, 10%);
    } // end of active
    
         
    
} // end nav


/*  ----------------------- MAIN --------------------------- */
main {
    figure.smlimg {width: 100%; max-width: 400px;}
	figure.smlimg img {width: 100%;}
    
    h1 {
        font-size: 2em;
        margin: 1rem 0 0 $gutter;
        color: $primaryColor;
    } // end h1
    
	
	
	p {
		line-height: 130%;
		color: $fontColor;
		padding: .5rem 2%;
	} // end p
    
    /*  -------- form stuff nested inside main ---------- */
	
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
} // end main





/*  ----------------------- FOOTER --------------------------- */
div#footerWrapper {background-color: $fontColor;}
footer {
    width: 100%;
    
    
    p {
        text-align: center;
        color: $lightGrey;
        padding: .75rem 0;
        font-size: .9rem;
    } // end p
    
    p a {color: $lightGrey;}
	
	section {
		h3 {
			color: $lightGrey;
			font-size: .8em;
			font-weight: $boldWeight;
			margin-top: 1em;
			padding: .3em 0;
			background-color: rgba(0,0,0,0.2);
			text-align: center;

		} // end h3
		ul li {list-style: none;}
		ul li a {
			display:block;
			color: darken($lightGrey,10%);
			text-decoration: none;
			font-size:.9em;
			padding: .5em $gutter;
		} //end li a
	} // end section
    
} // end footer


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
