nav ul li a {
  font-size: 1.1em;
}

/*  ----------------------- MAIN --------------------------- */
main {
} // end main

/*  ----------------------- FOOTER --------------------------- */
footer section {
  width: 29.33333%;
  margin: 0 $gutter;
  float: left;
}
