/* Prevent adjustments of font size after orientation changes in IE on 
Windows Phone and in iOS */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// -------------------- BODY -------------------- //
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
} // End of body

// -------------------- HEADER -------------------- //
header {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 1rem $gutter;

  form {
    float: right;

    input {
      width: 6rem;
      border-radius: 10px;
      margin-right: 2%;
      padding: 0.2rem;
      border: none;
      transition: width 0.5s;

      &:focus {
        width: 8rem;
      } // End of &:focus
    } // End of input
  } // End of form

  h1 {
    font-size: 2rem;
    font-weight: $normalWeight;
  } // End of h1

  h2 {
    font-size: 1.05rem;
    font-weight: $normalWeight;
  } // End of h2
} // End of header

// -------------------- NAV -------------------- //
nav {
  background-color: $secondaryColor;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  ul li {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);

    &.active a {
      background-color: darken($secondaryColor, 20%);
    } // End of &.active a

    a {
      display: block;
      text-align: center;
      font-weight: $boldWeight;
      padding: 0.5rem 0;
      color: $primaryColor;
      text-decoration: none;
      transition: background 0.5s ease, color 0.5s ease;

      &:hover {
        color: $secondaryColor;
        background-color: $primaryColor;
      } // End of &:hover
    } // End of a

    &:last-child {
      border-right: none;
    } // End of &:last-child
  } // End of ul li
} // End of nav

// -------------------- MAIN -------------------- //
main {
  background-color: #fff;

  figure.banner {
    width: 100%;

    img {
      width: 100%;
    } // End of img
  } // End of figure.banner

  h1 {
    font-size: 2rem;
    margin: 1rem 0 0 $gutter;
    color: $primaryColor;
  } // End of h1

  h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0 0 $gutter;
    color: lighten($primaryColor, 10%);
  } // End of h2

  h3 {
    font-size: 1.2rem;
    color: lighten($primaryColor, 20%);
  } // End of h3

  p {
    line-height: 130%;
    color: $fontColor;
  } // End of p

  hr.fadeAway {
    background: linear-gradient(
      to right,
      rgba(66, 78, 100, 1) 0%,
      rgba(66, 78, 100, 0) 100%
    );
    height: 2px;
    border: none;
    margin: 0 $gutter;
  }

  figure.photo {
    width: 100% - $gutterDbl;
    margin: 0.5rem $gutter;

    img {
      width: 100%;
    } // End of img

    figcaption {
      text-align: center;
      color: $primaryColor;
    }
  } // End of figure.photo

  div.pop {
    background-color: $accent;
    text-align: center;
    clear: both;
    padding: 1rem 0;
    .title {
      font-size: 2.5rem;
    }
    .subtitle {
      font-size: 2rem;
      font-weight: $boldWeight;
    }
    .copy {
      padding: 0.5rem 0;
    }
    .copy span {
      font-size: 3rem;
      color: $primaryColor;
      font-weight: $boldWeight;
    } // End of span
  } // End of div.pop

  div.blog {
    article {
      margin: 0.5rem $gutter;
      width: 100% - $gutterDbl;
    } // End of article
  } // End of div.blog
} // End of main

// -------------------- FOOTER -------------------- //
footer {
  background-color: $primaryColor;
  width: 100%;

  p {
    color: $secondaryColor;
    padding: 0.75rem $gutter;
    font-size: 0.9rem;

    a {
      color: $secondaryColor;
    }
  } // End of p
} // End of footer

// ---- Clearfix: Force an element not to collapse ---- //
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
