// -------------------- COLORS -------------------- //
$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;
$accent: #f1c417;

// -------------------- Layout -------------------- //
$gutter: 2%;
$gutterDbl: $gutter * 2;

// -------------------- FONT -------------------- //
$defaultFont: "Lato", sans-serif;
$normalWeight: 300;
$boldWeight: 700;
