$primaryColor: #fff;
$secondaryColor: #9b87b8;
$menuColor: #23cfa7;

$fontFamily: "Lato", sans-serif;
$normalWeight: 300;
$boldWeight: 700;
$baseFontSize: 16px;
$primaryTextColor: #000;
$secondaryTextColor: $primaryColor;

$gutter: 2vw;
$gutterDbl: $gutter * 2;
