/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $textColor;
  background-color: #fff;
}

div.wrapper {
  position: relative;
  width: 100vw;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $primaryColor;
  color: #fff;
  padding: 0.5rem $gutter;
  font-size: 1.5rem;
  z-index: 2;
}

main {
  z-index: 1;
  padding: 2.75rem 0; // Fixed items blocked parts of main

  &.album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    figure {
      padding: 0.7rem 2vw;

      img {
        width: 100%;
      }

      figcaption {
        text-align: center;
        padding: 0.2rem 0;
      }
    } // end figure
  } // end album

  &.artist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    section {
      display: grid;
      grid-template-columns: 80px auto;
      margin: 0.75rem $gutter;
      div {
        img {
          width: 100%;
          clip-path: circle(40px at center);
        } // end img

        &:nth-child(2) {
          align-self: center;
          padding-left: $gutter;
        } // end child (name)
      }
    } // end section
  } // end artist

  &.player {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: auto;
    grid-template-areas:
      "photo photo photo"
      "time time time"
      "startTime empty endTime"
      "title title title"
      "prev play next"
      "dn vol up";
    margin-top: 1.5rem;
    div {
      &.photo {
        grid-area: photo;

        img {
          width: 84%;
          margin: 0 0 0.5rem 8%;
          border-radius: 15px;
        } // end photo
      } // end img

      &.time {
        grid-area: time;
        justify-self: center;
        width: 84%;

        input[type="range"] {
          width: 100%;
        } // end rang input
      } // end time

      &.startTime {
        grid-area: startTime;
        text-align: right;
      }

      &.endTime {
        grid-area: endTime;
      }

      &.title {
        grid-area: title;

        span {
          display: block;
          text-align: center;

          &:nth-child(1) {
            font-size: 1.5rem;
            padding: 1rem 0 0.3rem 0;
          } // end child(1) song

          &:nth-child(2) {
            font-size: 1.2rem;
            padding-bottom: 2rem;
          } // end child(2) artist
        } // end span
      } // end Title

      &.previous {
        grid-area: prev;
        justify-self: end;
        font-size: 1.5rem;
      }

      &.play {
        grid-area: play;
        justify-self: center;
        font-size: 1.5rem;
        padding-bottom: 2rem;
      }

      &.next {
        grid-area: next;
        justify-self: start;
        font-size: 1.5rem;
      }
      &.voldn {
        grid-area: dn;
        justify-self: center;
      }
      &.volume {
        grid-area: vol;

        input[type="range"] {
          width: 100%;
        }
      }
      &.volup {
        grid-area: up;
        justify-self: center;
      }
    } // end div
  } // end player
} // end of main

nav {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border: 1px solid $dkGrey;
  display: flex;
  z-index: 2;

  div {
    flex-basis: 25%;
    text-align: center;

    a {
      display: block;
      font-size: 1.7rem;
      padding: 0.5rem 0;
      color: $ltGrey;
    }

    &.active a {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}
