// COLOR TEMPLATE VARS
$primaryColor: #553285;
$secondaryColor: #36175e;
$ltGrey: #aaa;
$dkGrey: #666;

// FONT VARS
$textColor: $secondaryColor;
$defaultFont: "Source Sans Pro", sans-serif;
$normalWeight: 400;
$boldWeight: 700;

// SPACING VARS
$gutter: 5%;
$gutterDbl: $gutter * 2;
